html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #121212;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ----------------------------------------------------------------------------------------------------- */

body header {
    min-width: 390px;
    padding: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    vertical-align: center;
}

.header_nav_logo {
    font-size: 24px;
    line-height: 1.33;
    color: #3f4e4f;
    padding: 6px 0;
}

.header_nav_logo span {
    color: #a27b5c;
}

.header_nav_menu_and_buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_nav_menu_mob_cart {
    margin-right: 16px;
}

.mobile .header_nav_menu_mob_cart::before {
    content: "10";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffa90b;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    position: absolute;
    padding: 4px 5px;
    top: 0px;
    left: 20px;
}

.header_nav_menu_mob_cart,
.header_nav_menu_mob_menu {
    background: none;
    border: none;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav_menu_mob_cart svg,
.header_nav_menu_mob_menu svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav_menu_mob_cart:hover,
.header_nav_menu_mob_menu:focus {}

.header_nav_menu_button_cart {
    border: 1px solid #a27b5c;
    padding: 12px 16px;
    background: #a27b5c;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
}

.header_nav_menu_button_cart:hover,
.header_nav_menu_button_cart:focus,
.header_nav_menu_button_cart:active {
    color: #a27b5c;
    background-color: #fff;
}

.header_nav_menu_button_sign_in {
    margin-left: 24px;
    border: 1px solid #a27b5c;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #a27b5c;
    background-color: #fff;
}

.header_nav_menu_button_sign_in:hover,
.header_nav_menu_button_sign_in:focus,
.header_nav_menu_button_sign_in:active {
    background: #a27b5c;
    color: #fff;
}

/* ----------------------------------------------------------- */

.landing_page_desktop_our_menu_tabs_1_2_3 {
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
}

.heading {
    padding: 0px 20px;
}

h1 {
    font-size: 60px;
}

.heading p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

/*----------------------------------------------------------------------------------------------*/
.filter_form {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filter_form .filter_search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter_form .filter_box {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter_form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.filter_form button {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: right;
    color: #7f7f7f;
    border: none;
    background: none;
}

.filter_form input {
    background: url("./images/icons/search.svg") no-repeat left 16px center;
    border: 1px solid #121212;
    padding: 16px;
    padding-left: 48px;
}

.filter_form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #7f7f7f;
}

.filter_price button,
.filter_sort_by button {
    color: #f14c35;
}

.filter_form select {
    margin-top: 8px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    border: 1px solid #121212;
    padding: 16px;
    flex-grow: 1;
}

/* --------------------------------------------------------------------------------------- */
.tabs div[role="tablist"] {
    display: flex;
}

.tabs button {
    flex-shrink: 0;
    padding: 24px;
    background: none;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.tabs button[aria-selected="true"] {
    border-bottom: 1px solid #121212;
    border-top: 1px solid #121212;
}

/* --------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------- */
.all_products {
    padding: 0px 23px;
}

.list_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 24px;
    grid-auto-rows: 1fr;
    /* display: flex;
    flex-wrap: wrap;*/
    justify-content: center;
}

.list_products .product_card {
    /* width: calc((100% - 3 * 24px) / 4);
    max-width: 300px; */
}

.product_card article {
    position: relative;
    /* display: flex;
    flex-direction: column;    
    justify-content: center; */
    gap: 12px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

/* :has(.product_image) {
    grid-template-columns: 300px 1 fr;
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.product_card_name h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.product_card_name p {
    margin-top: 4px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #7f7f7f;
    font-size: 12px;
    line-height: 1.33;
}

.price {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.03em;
}

.crossed_out {
    font-weight: 400;
    letter-spacing: 0.03em;
    text-decoration: line-through;
    font-size: 14px;
    line-height: 1.43;
}

.promo {
    margin-top: 4px;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 1.33;
    color: #a27b5c;
}

.out_of_stock_badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #121212;
    padding: 8px 12px;
}

.out_of_stock_badge p {
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
}

.sale_badge {
    background: #f14c35;
    padding: 8px 12px;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
}

/* --------------------------------------------------------------------------------------- */
.bottom_list_products_button {
    background: none;
    border: 1px solid #a27b5c;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    color: #a27b5c;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    text-transform: capitalize;
}

/* --------------------------------------------------------------------------------------- */
.landing_page_desktop_menu_detail {}

.menu_detail {
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu_detail_image_list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.menu_detail_image_list img {
    width: 52px;
}

.menu_detail_main_image img {
    height: 100%;
    flex: 3 0 468px;
}

.menu_detail_right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 3 0;
}

.menu_detail_right_bread_crumb {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.menu_detail_right a {
    letter-spacing: 0.03em;
    color: #7f7f7f;
    line-height: 1.5;
}

.menu_detail_right a[href="/Details"] {
    color: #121212;
}

.menu_detail_right_name h3 {
    font-size: 36px;
    line-height: 1.11;
}

.menu_detail_right .price-promo {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_detail_right .price {
    font-size: 24px;
    line-height: 1.33;
}

.menu_detail_right .crossed_out {
    font-size: 16px;

    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-decoration: line-through;
    color: #121212;
}

.menu_detail_right .promo {
    margin-top: 0;
    position: relative;
    margin-left: 12px;
    color: #a27b5c;
    opacity: 0.6;
    font-size: 16px;
}

.menu_detail_right .promo::before {
    content: " ";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #a27b5c;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: -12px;
    opacity: 0.6;
}

.menu_detail_right_desc {
    flex-grow: 1;
}

.menu_detail_right_desc .title {
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.5;
}

.menu_detail_right_desc .text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #7f7f7f;
}

.menu_detail_right_desc a {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #a27b5c;
}

.menu_detail_right_buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu_detail_right_buttons>button:last-of-type {
    display: block;
    background: #a27b5c;
    padding: 12px 16px;
    flex-grow: 1;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: capitalize;
    border: none;
}

.menu_detail_right_buttons .button_add_cart {
    border: 1px solid #a27b5c;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #a27b5c;
    background: none;
    flex-grow: 1;
}

.button_with button[aria-label="Reduce quantity"],
.button_with button[aria-label="Increase quantity"] {
    border: none;
    background: none;
}

.menu_detail_right_buttons .button_with {
    border: 1px solid #a27b5c;
    padding: 12px 40px;
    display: flex;
    gap: 12px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #a27b5c;
}

.menu_list {
    padding: 48px 0px;
    background: #fcf7ef;
}

.menu_list h2 {
    font-size: 60px;
    text-transform: capitalize;
    padding: 0px 20px;
    font-weight: 500;
    margin-bottom: 56px;
}

.menu_list .menu_list_flex {
    display: flex;
    gap: 16px;
    padding: 0px 20px;
}

.menu_list .product_card {
    width: calc((100% - 3 * 48px) / 4);
    min-width: 160px;
}

.menu_list .product_card_name p {
    text-transform: capitalize;
}

.menu_list .product_card p span {
    text-transform: lowercase;
}

.menu_List_paging {
    margin-top: 48px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.menu_List_paging .icon {
    color: #E3E3E3;
}

.menu_List_paging .active {
    color: #A27B5C;
}

/* ------------------------------------------------------------------------------------------------------ */

footer {
    background-color: #121212;
    color: #fcf7ef;
    padding: 48px 20px;
    min-width: 390px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    align-items: center;
}

.footer_content h3 {
    color: #fff;
    font-weight: 500;
    font-size: 48px;
}

address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

.footer_content .line {
    width: 100%;
    max-width: 1192px;
    color: #e3e3e3;
}

address .bold {
    font-weight: 700;
}

address .padding {
    display: inline-block;
    padding: 16px 0;
}

.footer_content .line {
    width: 100%;
    max-width: 1192px;
    height: 1px;
    background-color: #e3e3e3;
    margin: 0 auto;
    opacity: 1;
    flex-shrink: 0;
}

.social_media {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 1192px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.social_media nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    text-align: center;
}

nav[aria-label="links to download applications"] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav[aria-label="links to download applications"] p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

.links_download_applications {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.copy_right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    color: #a27b5c;
    width: 100%;
    max-width: 1192px;
}

.copy_right p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: center;
    color: #a27b5c;
}

.footer_content .copy_right span {
    text-transform: uppercase;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
    body header {
        padding: 32px 100px;
        min-width: 1220px;
        max-width: 1440px;
    }

    header nav {
        gap: 32px;
    }

    .header_nav_logo {
        font-size: 36px;
        line-height: 1.11;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .header_nav_menu {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .header_nav_menu_item {
        margin: 5px 0px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: capitalize;
    }

    .header_nav_menu_item+img {
        display: none;
        background: #a27b5c;
    }

    /*-----------------------------------------------------------------------------------------------------------------------------------------------*/

    .landing_page_desktop_our_menu_tabs_1_2_3 {
        padding: 80px 0;
    }

    .heading {
        padding: 0px 124px;
    }

    /*--------------------------------------------*/
    body footer {
        padding: 56px 20px;
    }

    .footer_content {
        gap: 32px;
    }

    .footer_content h3 {
        font-weight: 400;
        font-size: 60px;
    }

    address {
        font-size: 20px;
        line-height: 1.4;
    }

    .social_media {
        flex-direction: row;
    }

    nav[aria-label="links to download applications"] {
        flex-direction: row;
        gap: 24px;
    }

    .copy_right {
        flex-direction: row;
        margin-top: 32px;
    }

    @media screen and (min-width: 1200px) {
        body header {
            padding: 32px 100px;
            min-width: 1220px;
            max-width: 1440px;
        }

        header nav {
            gap: 32px;
        }

        .header_nav_logo {
            font-size: 36px;
            line-height: 1.11;
        }

        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }

        .header_nav_menu {
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: center;
            align-items: center;
        }

        .header_nav_menu_item {
            margin: 5px 0px;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: 0.03em;
            text-transform: capitalize;
        }

        .header_nav_menu_item+img {
            display: none;
            background: #a27b5c;
        }

        /*-----------------------------------------------------------------------------------------------------------------------------------------------*/

        .landing_page_desktop_our_menu_tabs_1_2_3 {
            padding: 80px 0;
        }

        .heading {
            padding: 0px 124px;
        }

        h1 {
            font-size: 96px;
        }

        .heading p {
            margin-top: 32px;
            font-size: 20px;
            line-height: 1.4;
            width: 778px;
        }

        /*-------------------------------------------------------------------------------------------------------------------------------------------*/

        .filter_form {
            padding: 0px 124px;
            flex-direction: row;
            gap: 48px;
        }

        .filter_form select {
            width: 261px;
        }

        /*----------------------------------------------------------------------------------------------------------------------------------------------*/
        .tabs button {
            padding: 32px;
            width: calc(100% / 3);
            line-height: 1.4;
        }

        /*--------------------------------------------*/
        .all_products {
            padding: 0px 80px;
        }

        .list_products {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 48px 24px;
        }

        .product_card article {
            gap: 16px;
        }

        .product_card_name h3 {
            font-size: 24px;
            line-height: 1.3;
        }

        .product_card_name p {
            margin-top: 8px;
            font-size: 20px;
            line-height: 1.4;
        }

        .price {
            font-size: 36px;
            line-height: 1.11;
            gap: 8px;
        }

        .crossed_out {
            font-size: 20px;
            line-height: 1.4;
        }

        .promo {
            margin-top: 8px;
            font-size: 20px;
            line-height: 1.4;
        }

        .sale_badge {
            padding: 12px 20px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.4;
        }

        .out_of_stock_badge p {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.4;
        }

        .out_of_stock_badge {
            padding: 12px 20px;
        }

        /*-----------------------------------------------*/
        .menu_detail {
            padding: 80px 124px;
            display: flex;
            flex-direction: row;
            gap: 48px;
        }

        .menu_detail_image_list {
            flex-direction: column;
            order: -1;
        }

        .menu_detail_image_list img {
            width: auto;
        }

        .menu_detail_right {
            gap: 32px;
        }

        .menu_detail_right a {
            font-size: 20px;
            line-height: 1.4;
        }

        .menu_detail_right_name h3 {
            font-weight: 500;
            font-size: 48px;
        }

        .menu_detail_right .price {
            font-size: 36px;
            line-height: 1.11;
        }

        .menu_detail_right .crossed_out {
            font-size: 20px;
        }

        .menu_detail_right .promo {
            font-size: 20px;
        }

        .menu_detail_right_desc .title {
            font-size: 18px;
            line-height: 1.56;
        }

        .menu_detail_right_desc .text {
            font-size: 18px;
            line-height: 1.56;
        }

        .menu_detail_right_buttons>button:last-of-type {
            display: none;
        }

        .menu_list {
            padding: 80px 124px;
        }

        .menu_list h2 {
            font-weight: 400;
        }

        .menu_list .menu_list_flex {
            gap: 48px;
        }

        .menu_list .product_card {
            max-width: 300px;
        }

        .menu_List_paging {
            display: none;
        }

        /*--------------------------------------------*/
        body footer {
            padding: 56px 20px;
        }

        .footer_content {
            gap: 32px;
        }

        .footer_content h3 {
            font-weight: 400;
            font-size: 60px;
        }

        address {
            font-size: 20px;
            line-height: 1.4;
        }

        .social_media {
            flex-direction: row;
        }

        nav[aria-label="links to download applications"] {
            flex-direction: row;
            gap: 24px;
        }

        .copy_right {
            flex-direction: row;
            margin-top: 32px;
        }
    }

}